#home-content {
  margin-top: 555px;
}

.home-content-text {
  text-align: center;
  font-size: 25px;
}


.home-headline-block {
  margin: 0 auto;
  text-align: center;
  padding: 10px 35px;

  p {
    font-size: 22px;
  }
}

.home-content-block {
  margin: 0 auto;
  text-align: center;
  padding: 10px 35px;

  p {
    font-size: 16px;
  }
}

.home-join-button {
  font-size: 26px;
  transition: all .15s ease;
  height: 52px;
  width: 100%;
}
