<div class="next-event">
  <%= if is_nil(@next_event) do %>
    <span class="no-event">
      <%= dgettext("event", "No coming events") %>
    </span>
    <span class="title"></span>
  <% else %>
    <span class="text">
      <%= gettext("Next event:") %>
    </span>
    <span class="time">
      <%= Frontend.Utils.to_date_time(@next_event.date) %>
    </span>
    <span class="title"><%= @next_event.title %></span>
  <% end %>
</div>
