<%= render Frontend.SharedView, "banner_small.html", assigns %>
<main id="member-content">
  <div class="row">
    <div class="colums twelve member-username">
      <a href="<%= get_steam_url(@member.profile) %>">
        <%= @member.profile.steam_id %>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="colums twelve member-avatar">
      <img src="<%= @member.profile.avatar_full %>"></img>
    </div>
  </div>
</main>
