@import './_imports/_variables';
@import './_imports/_colors';

footer {
	display: block;
	width: 100%;
  position:absolute;
  bottom:0;
	background: $secondary;
	padding-top: $space-med;
	padding-bottom: $space-med;
}
