@import 'imports/variables';
@import 'imports/colors';

ul, ol {
	margin-left: $space-med;
	margin-bottom: $space-med;
	li {
		margin-top: $space-small*1;
	}
}

ol {
	list-style-type: decimal;
	white-space: nowrap;
}
