<%= case get_member(@conn) do %>
<% nil -> %>
  <%= render Web.SharedView, "invalid_route.html" %>
<% member -> %>
  <div class="mdl-cell mdl-cell--12-col center">
    <a href="<%= get_steam_url(member.profile) %>">
      <%= member.profile.steam_id %>
    </a>
  </div>
  <div class="mdl-cell mdl-cell--12-col center">
    <img src="<%= member.profile.avatar_full %>"></img>
  </div>
<% end %>
