// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/all";

// 2. Set your own initial variables
// Update blue
$blue: #72d0eb;
// Add pink and its invert
//$pink: #ffb3b3;
//$pink-invert: #fff;
// Add a serif family
$family-serif: "Merriweather", "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
//$primary: $pink;
//$primary-invert: $pink-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
//$family-primary: $family-serif;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";
@import "tooltip";
@import "mixins";

body {
  margin: 0;
}

.capitalize {
  display: inline-block;

  &::first-letter {
    text-transform: uppercase;
  }
}

main {
    min-height: 79vh;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0px;
    padding: 0.5rem 1.5rem 0.5rem !important;

    p {
        margin: 0 !important;
    }
}

#attend-btn {
    margin-bottom: 1em;
}

.tooltip {
  position: relative;

  &::after {
    background: rgba(69, 77, 93, 0.9);
    border-radius: $radius;
    bottom: 100%;
    color: #fff;
    content: attr(data-tooltip);
    display: block;
    font-size: $size-7;
    left: 50%;
    max-width: 32rem;
    opacity: 0;
    overflow: hidden;
    padding: .4rem .8rem;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    transition: all .2s ease;
    white-space: nowrap;
    z-index: 200;
    @include prefixer(transform, translate(-50%, 1rem), ('webkit', 'ms'))
  }

  &:focus::after,
  &:hover::after {
    opacity: 1;
    @include prefixer(transform, translate(-50%, -.5rem), ('webkit', 'ms'))
  }

  &[disabled],
  &.disabled {
    pointer-events: auto;
  }

  &.tooltip-right {
    &::after {
      bottom: 50%;
      left: 100%;
      @include prefixer(transform, translate(-1rem, 50%), ('webkit', 'ms'))
    }

    &:focus::after,
    &:hover::after {
      @include prefixer(transform, translate(.5rem, 50%), ('webkit', 'ms'))
    }
  }

  &.tooltip-bottom {
    &::after {
      bottom: auto;
      top: 100%;
      @include prefixer(transform, translate(-50%, -1rem), ('webkit', 'ms'))
    }

    &:focus::after,
    &:hover::after {
      @include prefixer(transform, translate(-50%, .5rem), ('webkit', 'ms'))
    }
  }

  &.tooltip-left {
    &::after {
      bottom: 50%;
      left: auto;
      right: 100%;
      @include prefixer(transform, translate(1rem, 50%), ('webkit', 'ms'))
    }

    &:focus::after,
    &:hover::after {
      @include prefixer(transform, translate(-.5rem, 50%), ('webkit', 'ms'))
    }
  }
}
