@import
"skeleton/normalize",
"skeleton/skeleton";

@import
"kuikka/base",
"kuikka/header",
"kuikka/banner",
"kuikka/content";

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #111;
  font-size: 12px;
  padding: 0px 11px;
  box-shadow: #000 0px 0px 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
