html, body, main, .container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222;
  color: #CCC;
}

button {
  color: rgba(240,180,40,1);
  border: 3px solid rgba(240,180,40,1);
  transition: all .15s ease;
}

button:hover {
  color: #000;
  background-color: rgba(240,180,40,1);
}

* {
  box-sizing: border-box;
  outline:0 !important;
}

.alert {
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
  color: #fff;
  width: 100%;

  &.alert-info {
    color: rgba(54, 160, 71, 1);
  }

  &.alert-error {
    color: rgba(214, 39, 24, 1);
  }
}

#layout-content {
  margin-top: 220px;
}
