body {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  background-image: url("/images/kuikkaheader2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 305px;
  width: 100%;
}

.home-banner-logo {
  height: 250px;
  margin: 0 auto;
}

.home-banner-text {
  color: #222;
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
  background-color: rgba(215, 148, 0, 0.8);
}

.home-banner-headline {
}

.home-content {
  margin-top: 45px;
}

.home-content-text {
  text-align: center;
  font-size: 20px;
}

.home-short-content {
  width: 100%;
  margin-top: 35px;
}

.home-short-header {
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
}

.home-short-block {
  margin: 0 auto;
  text-align: center;
  padding: 10px 35px;

  p {
    font-size: 18px;
  }

  .material-icons {
    font-size: 36px;
  }
}

.home-join-button {
  margin-top: 40px;
  color: #CCC;
  font-size: 18px;
  transition: all .15s ease;
  height: 52px;
  width: 100%;
}

.home-join-button:hover {
  color: rgba(240,180,40,1);
  border-color: rgba(240,180,40,1);
}

.login-form {
  margin-top: 25px;
}

.login-button {
  margin-top: 10px;
  color: #CCC;
  font-size: 16px;
  transition: all .15s ease;
  height: 52px;
  background-color: #222;
}

.home-join-button:hover {
  color: rgba(240,180,40,1);
  border-color: rgba(240,180,40,1);
}

.login-form {
  margin-top: 50px;
}

.login-area-1 {
  padding-right: 10px;
}

.login-area-2 {
  padding-left: 10px;
}

.login-input {
  width: 100%;
}
.yt_video {
    float: left;
    margin: 50px auto;
    width: 30%;
    border: 5px solid #222
    {
        box-sizing: border-box;
        outline: 0 !important;
    }
}
.twitch_video {
    align-content: center;
    margin: 50px auto;
    width: 50%;
    border: 5px solid #222
    {
        box-sizing: border-box;
        outline: 0 !important;
    }
}
 h1 {
    font-size: 28px;
    text-transform: none;
    font-weight: bold;
    color: orange;
//    border-bottom: 1px solid black;
    padding-bottom: 0px;
    margin-bottom: 0;

}
.twitch_video h1 {
    font-size: 28px;
    text-transform: none;
    font-weight: bold;
    color: orange;
    border-bottom: 1px solid black;
    padding: 0;
}
.twitch_video h2 {
    font-size: 24px;
    text-transform: none;
    font-weight: bold;
    color: darkblue;
//    border-bottom: 1px solid black;
    padding: 0;
}
h2 {
        font-size: 24px;
    text-transform: none;
    font-weight: bold;
//    border-bottom: 1px solid black;
    padding: 0;
}
