.home-banner-logo {
  height: 250px;
  margin: 0 auto;
}

.home-banner-text {
  color: #222;
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
  background-color: rgba(215, 148, 0, 0.8);
}

.home-banner-headline {
}

.fullwidth-banner {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 176px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.home-content {
  margin-top: 145px;
}

.home-content-text {
  text-align: center;
  font-size: 25px;
}

.home-short-content {
  width: 100%;
  margin-top: 35px;
}

.home-short-header {
  margin: 0 auto;
  text-align: center;
  font-size: 42px;
}

.home-short-block {
  margin: 0 auto;
  text-align: center;
  padding: 10px 35px;

  p {
    font-size: 22px;
  }

  .material-icons {
    font-size: 48px;
  }
}

.home-join-button {
  font-size: 26px;
  transition: all .15s ease;
  height: 52px;
  width: 100%;
}
