.fullwidth-banner {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  height: 505px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.kuikka-video {
  position: absolute;
  top: 150px;
  left: 21%;
}

.home-content {
  margin-top: 145px;
}

.home-content-text {
  text-align: center;
  font-size: 25px;
}


.home-headline-block {
  margin: 0 auto;
  text-align: center;
  padding: 10px 35px;

  p {
    font-size: 22px;
  }
}

.home-content-block {
  margin: 0 auto;
  text-align: center;
  padding: 10px 35px;

  p {
    font-size: 16px;
  }
}

.home-join-button {
  font-size: 26px;
  transition: all .15s ease;
  height: 52px;
  width: 100%;
}

.next-operation {
	float: right;
	margin-top: -480px;
	//background-color: rgb(94, 128, 7);
  background-color: rgba(215, 148, 0, 0.8);
	padding: 0;
	font-size: 28px;
	font-weight: 100;
	width: auto;
	height: 40px;
	opacity: 0.95;
	color: #000;

	span.u {
		float: left;
		display: block;
		letter-spacing: 2px;
		font-size: 28px;
		margin: 0 0 2px 1px;
		text-align: center;
		line-height: 40px;
		padding: 0 0 0 10px;

		.tf {
			color: #CCC;
			font-style: normal;
			background-color: #000;
			padding: 0 10px;
			float: right;
			height: 40px;
			line-height: 40px;
			text-align: center;
			margin-left: 10px;
		}
	}

	span.b {
		clear: both;
		float: right;
		width: auto;
		display: block;
		letter-spacing: 0;
		font-size: 18px;
		margin: -2px 0 0 0;
		text-align: right;
		line-height: 25px;
		padding: 0 5px;
		//background-color: #456116;
  	background-color: rgba(190, 118, 0, 0.8);
	}
}


