<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Osasto Kuikka</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <header id="layout-header">
          <div id="header-inner">
            <nav id="header-nav">
              <a class="header-link" href="/news">Uutiset</a>
              <a class="header-link" href="/forum">Foorumit</a>
              <a class="header-link" href="/media">Media</a>
              <a class="header-link" href="/roster">Rosteri</a>
              <a class="header-link" href="/wiki">Wiki</a>
              <div id="header-nav-right">
                <a class="header-link" href="/login">Kirjaudu sisään</a>
              </div>
            </nav>
          <div>
        </header>
      </div>
      <div class="row">
        <main id="layout-content">
          <div class="row">
            <%= render @view_module, @view_template, assigns %>
          </div>
        </main>
      </div>
      <div class="row">
        <footer id="layout-footer">
        </footer>
      </div>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
