<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Osasto Kuikka official website">
    <meta name="author" content="Osasto Kuikka">

    <title>Osasto Kuikka</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css" integrity="sha256-Gxk756LCcjwUNjIrkNrXNqY1Q+EW/Tct/IuGRw6Q1Mo=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" integrity="sha256-RWqxpxUH7ZGrrhTJ0I+v+zc6e8cRpm5ENBt7i3u3KrQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <header class="column" id="layout-header">
          <div id="header-inner">
            <nav id="header-nav">
              <a class="header-link" href="/">
                <img class="header-logo-image" src="/images/logo.svg" />
              </a>
              <a class="header-link" href="">Tapahtumat</a>
              <a class="header-link" href="">Foorumit</a>
              <a class="header-link" href="">Media</a>
              <a class="header-link" href="">Rosteri</a>
              <a class="header-link" href="">Wiki</a>
              <div id="header-nav-right">
                <%= if is_nil(@user) do %>
                  <a class="header-link" href="<%= steamex_auth_url(@conn) %>">
                    <img class="steam-image" src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png" />
                  </a>
                <% else %>
                  <img src="<%= @user.avatar %>" class="steam-image"></img>
                  <div class="header-link dropdown">
                    <span><%= @user.personaname %></span>
                    <div class="dropdown-content">
                      <a href="">Profiili</a>
                      <a href="<%= profile_path(@conn, :logout) %>">Kirjaudu ulos</a>
                    </div>
                <% end %>
              </div>
            </nav>
          <div>
        </header>
      </div>
      <div class="row">
        <main class="column" id="layout-content">
					<div class="fullwidth-banner"
						style="background-image: url('/images/kuikkaheader2.png'); display: block;">
					</div>

					<div class="next-operation">
            <span class="u">Seuraava tapahtuma: <i class="tf"><%= get_next_event_date() %> 19:30</i></span>
						<span class="b">Joka keskiviikko ja sunnuntai klo 19:30</span>
					</div>
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>
      <div class="row">
        <footer id="column layout-footer">
        </footer>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.js" integrity="sha256-Wp+O1wPyGFexlE5eXu6l3Za+s/87TodMhE7tXk7eWwo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js" integrity="sha256-r0xmg4FKpSfK9TvePQIeaq/gCDO0Xy3q0EPIfteGRnQ=" crossorigin="anonymous"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
