.banner {
  position: absolute;
  top: 50px;
  left: -100%;
  right: -100%;
  height: 505px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .banner-video {
    position: absolute;
    top: 90px;
    left: 41.8%;
  }

  .next-event {
    position: absolute;
    left: 41.8%;
    float: right;
    margin-top: 15px;
    background-color: rgba(215, 148, 0, 0.8);
    padding: 0;
    font-size: 28px;
    font-weight: 100;
    width: 580px;
    height: 40px;
    opacity: 0.95;
    color: #000;

    .text {
      float: right;
      display: block;
      letter-spacing: 2px;
      font-size: 28px;
      text-align: center;
      line-height: 40px;
      padding: 0 0 0 10px;
      text-align: left;

      .time {
        color: #CCC;
        font-style: normal;
        background-color: #000;
        padding: 0 10px;
        float: right;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-left: 10px;
      }
    }

    .title {
      clear: both;
      width: auto;
      display: block;
      letter-spacing: 0;
      font-size: 18px;
      text-align: center;
      line-height: 25px;
      padding: 0 5px;
      background-color: rgba(215, 148, 0, 0.8);
    }
  }

  .flash-info {
    position: absolute;
    top: 461px;
    left: 0;
    width: 100%;

    .alert {
      margin: 0 auto;
      text-align: center;
      font-size: 28px;
      color: #fff;
      width: 100%;
      padding-left: 100px;
    }

    .alert-info {
      background-color: green;
    }

    .alert-error {
      background-color: red;
    }
  }
}

.banner-small {
  position: absolute;
  top: 50px;
  left: -100%;
  right: -100%;
  height: 129px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .next-event {
    position: absolute;
    left: 41.8%;
    float: right;
    margin-top: 15px;
    background-color: rgba(215, 148, 0, 0.8);
    padding: 0;
    font-size: 28px;
    font-weight: 100;
    width: auto;
    height: 40px;
    opacity: 0.95;
    color: #000;

    .text {
      float: left;
      display: block;
      letter-spacing: 2px;
      font-size: 28px;
      text-align: center;
      line-height: 40px;
      padding: 0 0 0 10px;

      .time {
        color: #CCC;
        font-style: normal;
        background-color: #000;
        padding: 0 10px;
        float: right;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-left: 10px;
      }
    }

    .title {
      clear: both;
      width: auto;
      display: block;
      letter-spacing: 0;
      font-size: 18px;
      text-align: center;
      line-height: 25px;
      padding: 0 5px;
      //background-color: rgba(190, 118, 0, 0.8);
      background-color: rgba(215, 148, 0, 0.8);
    }
  }

  .flash-info {
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;

    .alert {
      margin: 0 auto;
      text-align: center;
      font-size: 28px;
      color: #fff;
      width: 100%;
      padding-left: 100px;
    }

    .alert-info {
      background-color: green;
    }

    .alert-error {
      background-color: red;
    }
  }
}
