html {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  background-color: #222;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  background-color: #222;
  color: #CCC;
}

main {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}

* {
  box-sizing: border-box;
  outline:0 !important;
}

#layout-content {
  margin-top: 50px;
}

.alert {
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
  color: #fff;
  width: 100%;

  &.alert-info {
    color: rgba(54, 160, 71, 1);
  }

  &.alert-error {
    color: rgba(214, 39, 24, 1);
  }
}
