body {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  background-image: url("/images/kuikkaheader2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 305px;
  width: 100%;
}

.home-banner-logo {
  height: 250px;
  margin: 0 auto;
}

.home-banner-text {
  color: #222;
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
  background-color: rgba(215, 148, 0, 0.8);
}

.home-banner-headline {
}

.home-content {
  margin-top: 45px;
}

.home-content-text {
  text-align: center;
  font-size: 20px;
}

.home-short-content {
  width: 100%;
  margin-top: 35px;
}

.home-short-header {
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
}

.home-short-block {
  margin: 0 auto;
  text-align: center;
  padding: 10px 35px;

  p {
    font-size: 18px;
  }

  .material-icons {
    font-size: 36px;
  }
}

.home-join-button {
  margin-top: 40px;
  color: #CCC;
  font-size: 18px;
  transition: all .15s ease;
  height: 52px;
  width: 100%;
}

.home-join-button:hover {
  color: rgba(240,180,40,1);
  border-color: rgba(240,180,40,1);
}

.login-form {
  margin-top: 25px;
}

.login-button {
  margin-top: 10px;
  color: #CCC;
  font-size: 16px;
  transition: all .15s ease;
  height: 52px;
  background-color: #222;
}

.home-join-button:hover {
  color: rgba(240,180,40,1);
  border-color: rgba(240,180,40,1);
}

.login-form {
  margin-top: 50px;
}

.login-area-1 {
  padding-right: 10px;
}

.login-area-2 {
  padding-left: 10px;
}

.login-input {
  width: 100%;
}
