[Unit]
Description=Kuikka Website
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/lib/kuikka-website
ExecStart=/opt/kuikka-website/bin/kuikka_website foreground
Restart=on-failure
RemainAfterExit=yes
RestartSec=5
EnvironmentFile=/etc/kuikka-website/kuikka-website.conf
SyslogIdentifier=kuikka-website

[Install]
WantedBy=multi-user.target
